{%extends "base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block body%}
    <div class="container">
    <div class="row">
   <div class="heading-inner">

							<h2 style="padding-top: 40px">About Us</h2>
							<span>The purpose of the project is to develop a website that will allow the user to compare the prices of a given book from different websites. The project will specifically focus on three major book shopping websites:
www.kitapyurdu.com, www.babil.com and www.idefix.com.
</span>
						</div>
    </div>
    </div>
{% endblock%}
</body>
</html>