{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block body %}
            <div class="heading-inner">
							<h2 style="padding-top: 50px">Related Books</h2>
							<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis</span><span>mod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
						</div>

				<section class="grid-4">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home">
							<div class="container">
								<div class="row">
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
												<figcaption class="ribbon-wrap">
													<span class="ribbon">Sale</span>
												</figcaption>
											</figure>
											<div class="text">
												<small>Fiction</small>
												<h5><a href="#">Spells</a></h5>
												<span class="price-tag red">
													<del> $350.00 </del>
													<sub>$</sub>230.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
												<figcaption class="ribbon-wrap">
													<span class="ribbon new">Sale</span>
												</figcaption>
											</figure>
											<div class="text">
												<small>Non Fiction</small>
												<h5><a href="#">You Are Not Here</a></h5>
												<span class="price-tag black">
													<sub>$</sub>58.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
												<figcaption class="ribbon-wrap">
													<span class="ribbon">Sale</span>
													<div class="clear"></div>
													<span class="ribbon hot">Sale</span>
												</figcaption>
											</figure>
											<div class="text">
												<small>Life History</small>
												<h5><a href="#">Forget Her Nots</a></h5>
												<span class="price-tag red">
													<del>$96.00</del>
													<sub>$</sub> 72.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
											</figure>
											<div class="text">
												<small>Inspiration</small>
												<h5><a href="#">The Body Finder</a></h5>
												<span class="price-tag black">
													<sub>$</sub>99.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
											</figure>
											<div class="text">
												<small>Fiction</small>
												<h5><a href="#">The Hard Kind of Promiser</a></h5>
												<span class="price-tag black">
													<sub>$</sub>230.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<div class="book-tab-bx">
												<ul class="bxslider">
													<li>
														<img src="{%  static 'images/222.jpg'%}" alt=""/>
													</li>
													<li>
														<img src="{%  static 'images/222.jpg'%}" alt=""/>
													</li>
												</ul>
												<div class="ribbon-wrap">
													<span class="ribbon">Sale</span>
												</div>
											</div>
											<div class="text">
												<small>Romance</small>
												<h5><a href="#">By The Time You Read</a></h5>
												<span class="price-tag red">
													<del> $350.00 </del>
													<sub>$</sub>58.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
											</figure>
											<div class="text">
												<small>Poetry</small>
												<h5><a href="#">A Little Song</a></h5>
												<span class="price-tag black">
													<del>$ 96.00</del>
													<sub>$</sub>58.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
											</figure>
											<div class="text">
												<small>Inspiration</small>
												<h5><a href="#">And Then I Found Out</a></h5>
												<span class="price-tag black">
													<sub>$</sub>99.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
												<figcaption class="ribbon-wrap">
													<span class="ribbon">Sale</span>
												</figcaption>
											</figure>
											<div class="text">
												<small>Women</small>
												<h5><a href="#">Night Shade</a></h5>
												<span class="price-tag red">
													<del> $350.00 </del>
													<sub>$</sub>230.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
												<figcaption class="ribbon-wrap">
													<span class="ribbon new">Sale</span>
												</figcaption>
											</figure>
											<div class="text">
												<small>Inspiration</small>
												<h5><a href="#">After</a></h5>
												<span class="price-tag black">
													<sub>$</sub>58.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
												<figcaption class="ribbon-wrap">
													<span class="ribbon">Sale</span>
													<div class="clear"></div>
													<span class="ribbon hot">Sale</span>
												</figcaption>
											</figure>
											<div class="text">
												<small>Fiction</small>
												<h5><a href="#">Harry Potter</a></h5>
												<span class="price-tag red">
													<del>$96.00</del>
													<sub>$</sub> 72.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--BOOK DEC START-->
									<div class="col-md-3 col-sm-6">
										<div class="book-tab-dec">
											<figure>
												<img src="{%  static 'images/222.jpg'%}" alt=""/>
											</figure>
											<div class="text">
												<small>Life</small>
												<h5><a href="#">Ask For What You Want</a></h5>
												<span class="price-tag black">
													<sub>$</sub>99.00
												</span>
												<a class="add-cart" href="#">Add to Cart</a>
											</div>
										</div>
									</div>
									<!--BOOK DEC END-->
									<!--KODDE PAGINATION START-->
									<div class="col-md-12">
										<div class="kf-pagination">
										  	<ul class="pagination">
												<li>
													<a href="#" aria-label="Previous">
														<span aria-hidden="true">
															<i class="fa fa-angle-left"></i>
														</span>
														<small class="page-lable">
															Previous
														</small>
													</a>
												</li>
												<li>
													<a class="active" href="#">1</a></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#">5</a></li>
												<li>
													<a href="#" aria-label="Next">
														<span aria-hidden="true">
															<i class="fa fa-angle-right"></i>
														</span>
														<small class="page-lable">
															next
														</small>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<!--KODDE PAGINATION END-->
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="profile">
							<!--LIST STYLE WRAP START-->
							<div class="blog-list-wrap">
								<div class="container">
									<!--LIST STYLE START-->
									<div class="blog-list-style">
										<!--LIST STYLE DEC START-->
										<div class="list-style-dec">
											<div class="blog-thumb">
												<img src="{%  static 'images/222.jpg'%}" alt="">
												<div class="blog-thumb-dec">
													<a href="#" data-toggle="modal" data-target="#quickview1"><i class="fa fa-book"></i></a>
												</div>
											</div>
											<div class="text">
												<div class="blog1-hd">
													<h5><a href="#">Time You Read</a></h5>
													<span class="price-tag red">
														<del> $350.00 </del>
														<sub>$</sub>230.00
													</span>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
												<a class="btn-2" href="#">View Cart</a>
												<a class="like-2" href="#"><i class="icon-heart"></i></a>
												<span class="discount-lable">30%</span>
											</div>
										</div>
										<!--LIST STYLE DEC END-->
										<!--LIST STYLE DEC START-->
										<div class="list-style-dec">
											<div class="blog-thumb">
												<img src="{%  static 'images/222.jpg'%}" alt="">
												<div class="blog-thumb-dec">
													<a href="#" data-toggle="modal" data-target="#quickview2"><i class="fa fa-book"></i></a>
												</div>
												<div class="ribbon-wrap">
													<span class="ribbon">Sale</span>
												</div>
											</div>
											<div class="text">
												<div class="blog1-hd">
													<h5><a href="#">There’s Before & After</a></h5>
													<span class="price-tag blue">
														<del>$96.00</del>
														<sub>$</sub>58.00
													</span>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
												<a class="btn-2" href="#">View Cart</a>
												<a class="like-2" href="#"><i class="icon-heart"></i></a>
												<span class="discount-lable">30%</span>
											</div>
										</div>
										<!--LIST STYLE DEC END-->
										<!--LIST STYLE DEC START-->
										<div class="list-style-dec">
											<div class="blog-thumb">
												<img src="{%  static 'images/222.jpg'%}" alt="">
												<div class="blog-thumb-dec">
													<a href="#" data-toggle="modal" data-target="#quickview3"><i class="fa fa-book"></i></a>
												</div>
											</div>
											<div class="text">
												<div class="blog1-hd">
													<h5><a href="#">Forget Her Nots</a></h5>
													<span class="price-tag green">
														<sub>$</sub>99.00
													</span>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
												<a class="btn-2" href="#">View Cart</a>
												<a class="like-2" href="#"><i class="icon-heart"></i></a>
												<span class="discount-lable">30%</span>
											</div>
										</div>
										<!--LIST STYLE DEC END-->
										<!--LIST STYLE DEC START-->
										<div class="list-style-dec">
											<div class="blog-thumb">
												<img src="{%  static 'images/222.jpg'%}" alt="">
												<div class="blog-thumb-dec">
													<a href="#" data-toggle="modal" data-target="#quickview4"><i class="fa fa-book"></i></a>
												</div>
												<div class="ribbon-wrap">
													<span class="ribbon new">new</span>
												</div>
											</div>
											<div class="text">
												<div class="blog1-hd">
													<h5><a href="#">NIGHTSHADE</a></h5>
													<span class="price-tag green">
														<sub>$</sub>99.00
													</span>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
												<a class="btn-2" href="#">View Cart</a>
												<a class="like-2" href="#"><i class="icon-heart"></i></a>
												<span class="discount-lable">30%</span>
											</div>
										</div>
										<!--LIST STYLE DEC END-->
										<!--LIST STYLE DEC START-->
										<div class="list-style-dec">
											<div class="blog-thumb">
												<img src="{%  static 'images/222.jpg'%}" alt="">
												<div class="blog-thumb-dec">
													<a href="#" data-toggle="modal" data-target="#quickview5"><i class="fa fa-book"></i></a>
												</div>
												<div class="ribbon-wrap">
													<span class="ribbon">Sale</span>
												</div>
											</div>
											<div class="text">
												<div class="blog1-hd">
													<h5><a href="#">THE BODY FINDER</a></h5>
													<span class="price-tag red">
														<del>$96.00</del>
														<sub>$</sub>58.00
													</span>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
												<a class="btn-2" href="#">View Cart</a>
												<a class="like-2" href="#"><i class="icon-heart"></i></a>
												<span class="discount-lable">30%</span>
											</div>
										</div>
										<!--LIST STYLE DEC END-->
										<!--LIST STYLE DEC START-->
										<div class="list-style-dec">
											<div class="blog-thumb">
												<img src="{%  static 'images/222.jpg'%}" alt="">
												<div class="blog-thumb-dec">
													<a href="#" data-toggle="modal" data-target="#quickview5"><i class="fa fa-book"></i></a>
												</div>
											</div>
											<div class="text">
												<div class="blog1-hd">
													<h5><a href="#">And the i found out the truth</a></h5>
													<span class="price-tag green">
														<sub>$</sub>2358.00
													</span>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
												<a class="btn-2" href="#">View Cart</a>
												<a class="like-2" href="#"><i class="icon-heart"></i></a>
												<span class="discount-lable">30%</span>
											</div>
										</div>
										<!--LIST STYLE DEC END-->
									</div>
									<!--LIST STYLE END-->
									<!--KODDE PAGINATION START-->
									<div class="kf-pagination">
									  	<ul class="pagination">
											<li>
												<a href="#" aria-label="Previous">
													<span aria-hidden="true">
														<i class="fa fa-angle-left"></i>
													</span>
													<small class="page-lable">
														Previous
													</small>
												</a>
											</li>
											<li>
												<a class="active" href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#">5</a></li>
											<li>
												<a href="#" aria-label="Next">
													<span aria-hidden="true">
														<i class="fa fa-angle-right"></i>
													</span>
													<small class="page-lable">
														next
													</small>
												</a>
											</li>
										</ul>
									</div>
									<!--KODDE PAGINATION END-->
								</div>
							</div>
							<!--LIST STYLE  WRAP END-->
						</div>
						</div>
				</section>


        {% endblock %}
    </title>
</head>
<body>

</body>
</html>